

.top {
    background: linear-gradient(to bottom,
        rgb(70, 68, 65)20%,
        rgb(87, 85, 82)50%,
        rgb(122, 121, 122)100%
    );
padding: 70px 200px;
width: 600px;
position: absolute;
left: 100px;
top: 3px;
height: 100px;

} 


img {
    border-radius: 50%;
    width: 150px;
    height: 130px;
    border:  2px dotted orange;
    position: relative;
    left: 220px;
  bottom: 40px;
    
}
.gap > table td {
   position: absolute;
   top: 190px;
   right: 0px;
   background-color: rgb(233, 227, 227);
   width: 998px;
   height: 25px;
    
}

div {
 display: flex;
 flex-direction: column;

}
.r {
    position: absolute;
    width: 1000px;
   right: 0px;
    top: 255px;
}
a{
    text-decoration: none;
}
.r1{
    width: 1050px;
    position: absolute;
    bottom: -900px;
    right: -50px;
}



span {
    background-color: orange;
    padding: 15px 15px;
   
    position: absolute;
    left: 280px;
    top: 160px;
    border-radius: 7px;


}
pre {
    position: absolute;
    left: 35px;
    top: 230px;
}


.pro {

    width: 370px;
  position: absolute;
  left: 120px;
  top: 260px;
  border-right: 2px solid gray;

  padding-right: 112px;
  height: 840px;

}
.profile {
    width: 450px;
    position: absolute;
    left: 120px;
    top: 332px;
    text-align: justify;
 }

.skills {
    position: absolute;
    width: 380px;
    left: 120px;
    top: 375px;
}

.techski {
    
        width: 630px;
        position: absolute;
        top: 420px;
        left:165px;
        
}

.tech {
    width: 420px;
    position: absolute;
    top: 470px;
    left:120px;
    
   
 
 
}

.addski {
    width: 630px;
        position: absolute;
        top: 540px;
        left:165px;
        
}
.add {
    width: 423px;
        position: absolute;
        top: 620px;
        left:120px;
        
}
.work{
    width: 440px;
    position: absolute;
    top: 820px;
    left: 120px;
}
.em{
    width: 440px;
    position: absolute;
    top: 45px;
    left: 0px;
}

.work1 {
    width: 430px; 
    position :absolute;
    top: 265px;
    left:645px;
    padding-right: 50px;
    border:2px grey;
    
 }

 .wx { 
     width: 412px;
    position :absolute;
    top:60px;
    left:-0px;
    padding-right: 38px;
    border:2px grey;
 }

 .edu { 
    width: 450px;
    position :absolute;
    top:590px;
    left:645px;
    padding-right: 50px;
    border:2px  grey;
 }

 .ei{
     width: 432px;
    position :absolute;
    top:60px;
    left:-0px;
    padding-right: 30px;
    border:2px  grey;
 }
 .engi{
     position: absolute;
     top: 60px;
 }

 .h{
    position: absolute;
    width: 1000px;
   right: -280px;
    top: 700px;
}
.sch{
    position: absolute;
    top: 210px;
}
.sch1{
    position: absolute;
    top: 260px;
}
.school{
    position: absolute;
    top: 200px;
}
.school1{
    position: absolute;
    top: 250px;
}
.nec{
    position: absolute;
    top: 50px;
}
.lfms{
    position: absolute;
    top: 130px;
}
 

h3 {
    color: gray;
    font-size: 23px;
}
li {
    text-align: justify;
}
p {
    text-align: justify;
}
.detail{
    position: absolute;
    width: 432px;
    top: 930px;
    left: 645px;
  
}
.famdet {
    position: absolute;
    top: 45px;
}
.famdet1 {
   width: 432px;
    position: absolute;
    top: 40px;
    line-height: 22px;
}
.lang{
    position: absolute;
    top: 180px;
}
.lang1{
    position: absolute;
    top: 40px;
}
.con{
    
    position: absolute;
    top: 270px;
    
}
.con1{
    width: 420px;
    position: absolute;
    top: 30px;
}



input[type="range"]{
    height:5px;
    margin: 10px 0;
    width: 100%;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    height: 5px;
    width:50%;
    cursor: pointer;
    background: orange;
    background:linear-gradient
    (90deg rgba(248, 190, 39, 1)50%,  rgb(206, 157, 65)100%);
    border-radius: 8px;
   
}

input[type="range"]::-webkit-slider-thumb{
    box-shadow: 1px 1px 1px #000000;
    height: 8px;
    width: 8px;
    border: 1px solid gray;
    border-radius: 7px;
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer;
    margin-top: -1px;
}
i{
    color:white;
    border: 3px dotted orange;
    border-radius: 50%;
    padding: 5px;
    background-color: orange;
}
